image:
  repository: does-not-exist/stronghold
  pullPolicy: IfNotPresent
  tag: ""

bookImporter:
  enabled: true
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

audiobookImporter:
  enabled: true
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

discordBot:
  replicaCount: 1
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

  resources: {}

api:
  replicaCount: 1
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

  resources:
    requests:
      cpu: 100m
      memory: 128Mi

feedWatcher:
  enabled: true
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

config:
  postgres:
    url: ""
  qbit:
    url: ""
    username: ""
    password: ""
  bookImporter:
    importTypes:
      - category: books
        sourcePath: ""
        destinationPath: ""
        importedTag: imported
        sourcePrefixPath: ""
        calibreDesktopURL: ""
        calibreWebURL: ""
        manualInterventionTag: needs-manual
  feedWatcher:
    feeds: []
  discordBot:
    token: ""
    guildId: ""
    bookSearchApi:
      baseUrl: ""
      apiKey: ""

postgres:
  uri: ""

nodeSelector: {}
tolerations: []
affinity: {}
