image:
  repository: does-not-exist/stronghold
  pullPolicy: IfNotPresent
  tag: ""

cronJobs:
  - name: refresh-token
    schedule: "2 2 * * *"
    command:
      - ./stronghold
      - "-c"
      - "/etc/stronghold/config.yaml"
      - "refresh-token"
    enabled: true
    serviceAccount:
      automount: false
      annotations: {}

  - name: book-importer
    schedule: "*/5 * * * *"
    command:
      - ./stronghold
      - "-c"
      - "/etc/stronghold/config.yaml"
      - "book-import"
    enabled: true
    serviceAccount:
      automount: false
      annotations: {}

  - name: audiobook-importer
    schedule: "*/5 * * * *"
    command:
      - ./stronghold
      - "-c"
      - "/etc/stronghold/config.yaml"
      - "audiobook-importer"
    enabled: true
    serviceAccount:
      automount: false
      annotations: {}

  - name: feed-watcher
    schedule: "*/5 * * * *"
    command:
      - ./stronghold
      - "-c"
      - "/etc/stronghold/config.yaml"
      - "feed-watcher"
    enabled: true
    serviceAccount:
      automount: false
      annotations: {}

discordBot:
  replicaCount: 1
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

  resources: {}

api:
  replicaCount: 1
  serviceAccount:
    # Automatically mount a ServiceAccount's API credentials?
    automount: false
    # Annotations to add to the service account
    annotations: {}

  resources:
    requests:
      cpu: 100m
      memory: 128Mi

config: {}

nodeSelector: {}
tolerations: []
affinity: {}
