name: Release

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

on:
  release:
    types:
      - published

# Cancel in-progress jobs when new commits are pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-version:
    runs-on: ohnozombiesrun
    outputs:
      releaseVersion: ${{ github.event.release.name }}
      chartVersion: ${{ steps.generate-version.outputs.version }}
    steps:
      - name: generate chart version
        id: generate-version
        run: |-
          echo ${{ github.event.release.name }} | sed 's/^v//' | awk '{print "version="$1}' >> "$GITHUB_OUTPUT"

  deliver-image:
    runs-on: ohnozombiesrun
    needs:
      - generate-version
    env:
      version: ${{ needs.generate-version.outputs.releaseVersion }}
    steps:
      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Tailscale
        uses: tailscale/github-action@3a217367cadc62d7600a77470ffe542e2313e6b9 # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ secrets.DOCKER_REPO }}
          username: ${{ secrets.DOCKER_REPO_USERNAME }}
          password: ${{ secrets.DOCKER_REPO_PASSWORD }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          tags: |
            ${{ secrets.DOCKER_REPO_PREFIX }}/stronghold:${{ env.version }}
            ${{ secrets.DOCKER_REPO_PREFIX }}/stronghold:latest

  deliver-chart:
    runs-on: ohnozombiesrun
    needs:
      - generate-version
      - deliver-image
    steps:
      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Tailscale
        uses: tailscale/github-action@3a217367cadc62d7600a77470ffe542e2313e6b9 # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions
      - run: |
          helm registry login \
            ${{ secrets.DOCKER_REPO }} \
            --username ${{ secrets.DOCKER_REPO_USERNAME }} \
            --password ${{ secrets.DOCKER_REPO_PASSWORD }}

          helm package \
            --destination . \
            --app-version ${{ needs.generate-version.outputs.releaseVersion }} \
            --version ${{ needs.generate-version.outputs.chartVersion }} \
            deploy/stronghold

          helm lint stronghold-*.tgz

          helm push \
            stronghold-*.tgz \
            oci://${{ secrets.DOCKER_REPO_PREFIX }}/charts
