name: Main Branch
on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency: main

jobs:
  release:
    name: Release
    runs-on: ohnozombiesrun
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
      - name: Install semantic release
        run: |-
          npm install -g semantic-release
      - name: Release version
        id: release-version
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
